{% extends "maps/base.html" %}

{% block title %}All Maps{% endblock %}

{% block content %}
<table class="table">
{% for map in object_list %}
<tr>
  <td><a href="{% url 'app:map-detail' map.pk %}">{{map.title}}</a></td>
  <td>Created {{map.created}}</td>
  <td>Modified {{map.modified}}</td>
  <td>
    {% if map.publish %}
    <button data-url="{% url 'app:map-publish' map.pk %}?action=unpublish" class="btn btn-secondary publish">Unpublish</button>
    {% else %}
    <button data-url="{% url 'app:map-publish' map.pk %}?action=publish" class="btn btn-primary publish">Publish</button>
    {% endif %}
    <a href="{% url 'app:map-update' map.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'app:map-delete' map.pk %}" class="btn btn-danger">Delete</a>
  </td>
</tr>
{% empty %}
  <tr><td>No arrangement maps.</td></tr>
{% endfor %}
</table>
{% endblock %}
