{% extends "maps/base.html" %}
{% load mptt_tags %}

{% block title %}
  {{object.title}} <small><span class="badge {% if object.publish %}badge-success{% else %}badge-secondary{% endif %}">{% if object.publish %}Published{% else %}Unpublished{% endif %}</span></small>
  <div class="buttons float-right">
    {% if object.publish %}
    <button data-url="{% url 'app:map-publish' object.pk %}?action=unpublish" class="btn btn-secondary publish">Unpublish</button>
    {% else %}
    <button data-url="{% url 'app:map-publish' object.pk %}?action=publish" class="btn btn-primary publish">Publish</button>
    {% endif %}
    <a href="{% url 'app:map-update' object.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'app:map-delete' object.pk %}" class="btn btn-danger">Delete</a>
  </div>
{% endblock %}

{% block content %}
<p class="text-muted">Created {{object.created}} <br/> Last modified {{object.modified}}</p>
<div class="row">
  {% recursetree object.components.all %}
    <div class="col-12 border-top">
      <div class="m-1 row">
        <div class="title">
          <p class="mb-0">{{ node.title }}{% if node.archivesspace_uri %} <span class="badge badge-secondary">AS</span>{% endif %}</p>
        </div>
      </div>
        {% if not node.is_leaf_node %}
            <div class="children">
              {{ children }}
            </div>
        {% endif %}
     </div>
   {% endrecursetree %}
</div>
{% endblock %}
