{% extends "maps/base.html" %}

{% block title %}Recent Maps{% endblock %}

{% block content %}
<table class="table">
{% for map in recent_maps %}
<tr>
  <td><a href="{% url 'app:map-detail' map.pk %}">{{map.title}}</a> {% if map.publish %}<span class="badge badge-success">published</span>{% endif %}</td>
  <td>Created {{map.created}}</td>
  <td>Modified {{map.modified}}</td>
</tr>
{% empty %}
  <tr><td>No arrangement maps.</td></tr>
{% endfor %}
</table>
<a class="btn btn-secondary" href="{% url 'app:map-list' %}">View all maps</a>
{% endblock %}
